:root {
    --dark-color: #000;
    --light-grey-color: #cacaca;
    --grey: #676765;
    --white-color: #fff;
    --gr-white: #f0eeed;
    --yellow-color: #ffc633;
    --error-color: #f33;
    --pink-color: #fad9df;
    --ok-color: #0c9409;
}
