.primary {
    .title {
        color: var(--dark);
    }

    .text {
        color: var(--dark);
    }
}

.error {
    .title {
        color: var(--error-color);
    }

    .text {
        color: var(--error-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.primary,
.error {
    .title {
        font-weight: var(--semibold);
    }

    .text {
        font-weight: var(--regular);
    }
}

.bold {
    .title,
    .text {
        font-weight: var(--bold);
    }
}
